{% extends 'rest_adv/base.html' %}
{% load staticfiles %}
{% load rest_adv_template_tags %}
{% block title_block %}
    Restaurant Page
{% endblock %}

{% block body_block %}
    {% if restaurant %}
        <h1>{{ restaurant.name }}</h1>
        <h2>rate:{{ restaurant.rate }}</h2>
        <div>
            {{restaurant.intro}}
        </div>
        {{restaurant.}}
        {% if restaurant.picture %}
            <img src="{{ restaurant.picture.url }}" height="200" width="150"/>
        {% endif %}
    {% endif %}
    {% for r in reviews %}
        <div>
        {% block sidebar_block %}
            {% show_review r %}
        {% endblock %}
        </div>
    {% endfor %}
    {% if user.is_authenticated %}
        <a href="{% url 'rest_adv:add_review' restaurant.slug %}">Add Review</a> <br />
    {% endif %}
{% endblock %}